<p style="color: green"><%= notice %></p>
<h1><%= t('.title') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <div id="superheroes">
      <% @superheroes.each do |superhero| %>
        <tr>
          <td><%= superhero.name %></td>
          <td><%= superhero.description %></td>
          <td><%= link_to t('.show'), superhero_path(locale, superhero) %></td>
          <td><%= link_to t('.edit'), edit_superhero_path(locale, superhero) %></td>
          <td><%= button_to t('.destroy'), superhero_path(locale, superhero), method: :delete, data: {turbo_confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>
<%= link_to t('.new'), new_superhero_path %>
